html {
	padding: 0;
	margin: 0;
}
html, body {
	margin: 0;
}
.blog-container {
	box-sizing: content-box;
}
.blog-container > h1 {
	text-align: center;
	font-family: "Arial";
}
.blog-container section {
	margin: 0 16px;
	padding: 4px;
	border: 2px solid #ccc;	
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
section:not(:last-child) {
	margin-bottom: 16px;
}
section .topic-title {
	display: flex;
	align-items: center;
	color: #f0f0f0;
	border-style: solid;
	border-width: 1px;
	border-color: #ff8623;
	border-bottom-width: 2px;
	background-color: #3d3d77;
	padding: 8px 0 2px 6px;
	font-family: "Tahoma";
	text-transform: uppercase;
}
.topic-title h1 {
	margin: 0;
}
.topic-title .anchor-button {
	border: none;
	width: auto;
	height: 20px;
	font-family: "Calibri";
	font-weight: normal;
	color: #f0f0f0;
	background-color: transparent;
	padding: 0;
	line-height: 1;
}
.anchor-button:active, .anchor-button:hover {
	color: #0ff;
	text-decoration: underline;
	cursor: pointer;
}
section .topic-content {
	padding: 0;
	transition: max-height .3s ease-in-out;
	overflow: hidden;
	max-height: 0;
}
.topic-content .topic-header {
	font-family: "Cambria";
	font-size: 18px;
	margin-bottom: 6px;
	padding: 6px 0;
	text-align: center;
}
.topic-header h6 {
	margin: 0;
}
.topic-content h4 {
	font-family: "Tahoma";
	font-size: 14px;
	color: #555;
	margin: 0;
	padding: 4px 0;
}
.content-show {
	max-height: 1024px !important;
}
.topic-content p {
	border: 1px solid #ccc;
	margin: 0;
	padding: 8px 4px;
	color: #333;
	background-color: #f9f9f9;
	text-shadow: 2px 2px 4px #ccc;
}
.topic-content p:not(:last-child) {
	margin-bottom: 10px;
}
.ml-3 {
	margin-left: 12px;
}
