.login-section {
  margin-top: 45px;
}
.login-container {
  border: 3px double #ccc;
  margin: 0 auto;
  width: 280px;
  padding: 16px 8px;
}
.login-input {
  display: flex;
  flex-direction: column;
  margin: 6px 0;
}
.login-input label {
  font-weight: bold;
}
.login-input input[type=text],
.login-input input[type=password] {
  border: 1px solid #aaa;
  padding: 6px 12px;
}
button {
  border: 1px solid #ccc;
  padding: 8px 16px;
  color: #eee;
  background-color: #5a5b72;
}
button:active {
  color: #333;
  border-color: #aaa;
  background-color: #babad3;
}
